In [1]:
import numpy as np

arr = np.ones((2, 3))  # Creates a 2x3 array filled with ones
arr2 = np.zeros((3, 3))  # Creates a 3x3 array filled with zeros
arr3 = np.full((2, 5), 7)  # Correctly creates a 2x5 array filled with the number 7

In [2]:
import numpy as np
arr = np.arange(4) 
arr_reshaped = arr.reshape(2, 2)
print(arr_reshaped**3)
print(arr_reshaped+7)
print(arr_reshaped*2)

[[ 0  1]
 [ 8 27]]
[[ 7  8]
 [ 9 10]]
[[0 2]
 [4 6]]

In [3]:
arr1=np.arange(2,19,2).reshape(3,3)
arr2=np.arange(9,0,-1).reshape(3,3)
arr1*arr2

array([[18, 32, 42],
       [48, 50, 48],
       [42, 32, 18]])

In [4]:
import numpy as np

twoarr = np.array([[1, 2], [3, 4]])
twoarr[[0, 1]] = twoarr[[1, 0]]
twoarr[:, [0, 1]] = twoarr[:, [1, 0]]
print(twoarr)

[[4 3]
 [2 1]]

In [5]:
list1=[2,3,5,7,11]
list2=[13,17,19,23,29]
npa=np.array([list1,list2])
print(npa)

[[ 2  3  5  7 11]
 [13 17 19 23 29]]

In [6]:
npa=np.array([2**x for x in range(0,6,1)]).reshape(2,3)
print(npa.flatten())
print(npa.ravel())
print(npa)

[ 1  2  4  8 16 32]
[ 1  2  4  8 16 32]
[[ 1  2  4]
 [ 8 16 32]]

In [7]:
from statistics import mode,mean
numbers = [6, 9, 5, 1, 7, 5, 1, 0, 1, 5,5,0,8,9,0,7,0,7,6,5,1,1,9,5,3,8,7,9,6,3,4,5,9,7,2,7,0,2,2,6]
npa=np.array(numbers)
print(mode(npa))

5

In [8]:
npa = np.linspace(1.1, 6.6, num=6).reshape(2, 3)
npa_int = npa.astype(int)
print(npa_int)

[[1 2 3]
 [4 5 6]]

In [9]:
import numpy as np
def format_2darray(arr):
    max_val = 0
    for i in arr:
        for j in i:
            if j > max_val:
                max_val = j
    count = 0
    while max_val > 0:
        max_val //= 10
        count += 1
    for i in arr:
        for j in i:
            print(f"{j:>{count}}", end=' ') 
        print()
num = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 100]])
format_2darray(num)

  1   2   3   4   5
  6   7   8   9 100

In [10]:
num=np.arange(1,16,1).reshape(3,5)
print(num)
print(num[1])
print(num[:,4])
print(num[0:2])
print(num[1,4])
print(num[1:3,[0,2,4]])

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
[ 6  7  8  9 10]
[ 5 10 15]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
10
[[ 6  8 10]
 [11 13 15]]

In [11]:
array1=np.array([[0,1],[2,3]])
array2=np.array([[4,5],[6,7]])
array3=np.vstack((array1,array2))
array4=np.hstack((array1,array2))
print(array3)
print(array4)
array5=np.vstack((array4,array4))
print(array5)
array6=np.hstack((array3,array3))
print(array6)

[[0 1]
 [2 3]
 [4 5]
 [6 7]]
[[0 1 4 5]
 [2 3 6 7]]
[[0 1 4 5]
 [2 3 6 7]
 [0 1 4 5]
 [2 3 6 7]]
[[0 1 0 1]
 [2 3 2 3]
 [4 5 4 5]
 [6 7 6 7]]

In [12]:
array1=np.array([[0,1],[2,3]])
array2=np.array([[4,5],[6,7]])
array3=np.concatenate((array1,array2),axis=0)
array4=np.concatenate((array1,array2),axis=1)
array5=np.concatenate((array4,array4),axis=0)
array6=np.concatenate((array1,array2),axis=1)
print(array1)
print(array2)
print(array3)
print(array4)
print(array5)
print(array6)

[[0 1]
 [2 3]]
[[4 5]
 [6 7]]
[[0 1]
 [2 3]
 [4 5]
 [6 7]]
[[0 1 4 5]
 [2 3 6 7]]
[[0 1 4 5]
 [2 3 6 7]
 [0 1 4 5]
 [2 3 6 7]]
[[0 1 4 5]
 [2 3 6 7]]

In [13]:
import numpy as np
pattern = np.array([['-', '*'], 
                         ['*', '-']])


checkerboard = np.tile(pattern, (4, 4)) 

checkerboard

array([['-', '*', '-', '*', '-', '*', '-', '*'],
       ['*', '-', '*', '-', '*', '-', '*', '-'],
       ['-', '*', '-', '*', '-', '*', '-', '*'],
       ['*', '-', '*', '-', '*', '-', '*', '-'],
       ['-', '*', '-', '*', '-', '*', '-', '*'],
       ['*', '-', '*', '-', '*', '-', '*', '-'],
       ['-', '*', '-', '*', '-', '*', '-', '*'],
       ['*', '-', '*', '-', '*', '-', '*', '-']], dtype='<U1')

In [14]:
random_array = np.random.randint(0, 100, size=(5, 5))
print(random_array)
np.bincount(random_array.flatten())

[[80 20  3 38 30]
 [79 72 78 84 40]
 [29  8 31 20 78]
 [43 13 66  7 12]
 [34 72 88 82 14]]

array([0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1], dtype=int64)

In [15]:
import numpy as np

def median(arr):
    return np.median(arr)

def mode(arr):
    values, counts = np.unique(arr, return_counts=True)
    max_count_index = np.argmax(counts)
    return values[max_count_index]

arr1 = np.array([1, 2, 2, 3, 4, 4, 4, 5])
print(f"Array 1 (1D): {arr1}")
print(f"Median: {median(arr1)}")
print(f"Mode: {mode(arr1)}")

arr2 = np.array([[1, 2, 2], [3, 4, 4], [4, 5, 6]])
print(f"\nArray 2 (2D):\n{arr2}")
print(f"Median: {median(arr2)}")
print(f"Mode: {mode(arr2)}")

arr3 = np.random.randint(1, 10, (3, 3, 3))
print(f"\nArray 3 (3D):\n{arr3}")
print(f"Median: {median(arr3)}")
print(f"Mode: {mode(arr3)}")

Array 1 (1D): [1 2 2 3 4 4 4 5]
Median: 3.5
Mode: 4

Array 2 (2D):
[[1 2 2]
 [3 4 4]
 [4 5 6]]
Median: 4.0
Mode: 4

Array 3 (3D):
[[[5 8 7]
  [5 2 6]
  [1 9 9]]

 [[6 4 7]
  [6 4 1]
  [8 8 1]]

 [[4 5 2]
  [4 5 5]
  [3 9 7]]]
Median: 5.0
Mode: 5

In [16]:
import numpy as np

arr = np.random.random((9, 9, 2))
print("Original array (9x9x2):\n", arr)

arr2 = arr[2:7, 2:7, :]
print("\nExtracted subarray (5x5x2):\n", arr2)

Original array (9x9x2):
 [[[0.59591321 0.75662414]
  [0.79678509 0.70594608]
  [0.58701706 0.78161226]
  [0.04994854 0.94599989]
  [0.04118888 0.14276575]
  [0.58304801 0.99216281]
  [0.68792518 0.25601724]
  [0.44237751 0.29170702]
  [0.89461232 0.90119615]]

 [[0.07033465 0.98909569]
  [0.25044061 0.47396698]
  [0.09785863 0.38693367]
  [0.38104771 0.13780594]
  [0.62002711 0.15040827]
  [0.9895502  0.79788214]
  [0.51734199 0.00893017]
  [0.41563525 0.84173732]
  [0.94155227 0.29251448]]

 [[0.25456548 0.8283061 ]
  [0.18368243 0.96041883]
  [0.50928351 0.9944673 ]
  [0.76036887 0.15653029]
  [0.89755329 0.1825123 ]
  [0.20732185 0.97068948]
  [0.29479806 0.63355568]
  [0.31621179 0.66034519]
  [0.28621911 0.75035487]]

 [[0.63576983 0.46712231]
  [0.22390071 0.69192032]
  [0.56151268 0.40335132]
  [0.89022552 0.36241976]
  [0.18175519 0.82213245]
  [0.6766226  0.89170284]
  [0.59466219 0.54939995]
  [0.31579556 0.22688348]
  [0.07050681 0.5202441 ]]

 [[0.02320069 0.1487338 ]
  [0.50201048 0.91238598]
  [0.8726964  0.02951758]
  [0.10459799 0.55598027]
  [0.80338009 0.47876558]
  [0.85413032 0.57235507]
  [0.03641077 0.39915861]
  [0.41279195 0.79756424]
  [0.32147421 0.81468161]]

 [[0.90826497 0.08752089]
  [0.48672024 0.05896233]
  [0.04110419 0.86654263]
  [0.89988704 0.97231746]
  [0.91444623 0.33472814]
  [0.79677375 0.89726866]
  [0.87914349 0.93380289]
  [0.21921585 0.53486303]
  [0.55579111 0.01605067]]

 [[0.54585494 0.55101909]
  [0.49822773 0.24627383]
  [0.29687504 0.40044653]
  [0.3489251  0.83853021]
  [0.67592858 0.28857942]
  [0.82278    0.21597172]
  [0.19982733 0.89077232]
  [0.37021346 0.34719408]
  [0.73379764 0.26578601]]

 [[0.99825716 0.7267452 ]
  [0.00464323 0.56415136]
  [0.13640196 0.61072575]
  [0.34644092 0.49576712]
  [0.34826855 0.31536675]
  [0.92042103 0.13887962]
  [0.93181305 0.44677985]
  [0.31138129 0.13700115]
  [0.77451933 0.74701035]]

 [[0.18349149 0.73546545]
  [0.7274914  0.54587417]
  [0.07373133 0.87311077]
  [0.17742259 0.64416646]
  [0.64218304 0.50842981]
  [0.13092876 0.91345938]
  [0.28139641 0.64525938]
  [0.88381813 0.10392532]
  [0.4452272  0.16424669]]]

Extracted subarray (5x5x2):
 [[[0.50928351 0.9944673 ]
  [0.76036887 0.15653029]
  [0.89755329 0.1825123 ]
  [0.20732185 0.97068948]
  [0.29479806 0.63355568]]

 [[0.56151268 0.40335132]
  [0.89022552 0.36241976]
  [0.18175519 0.82213245]
  [0.6766226  0.89170284]
  [0.59466219 0.54939995]]

 [[0.8726964  0.02951758]
  [0.10459799 0.55598027]
  [0.80338009 0.47876558]
  [0.85413032 0.57235507]
  [0.03641077 0.39915861]]

 [[0.04110419 0.86654263]
  [0.89988704 0.97231746]
  [0.91444623 0.33472814]
  [0.79677375 0.89726866]
  [0.87914349 0.93380289]]

 [[0.29687504 0.40044653]
  [0.3489251  0.83853021]
  [0.67592858 0.28857942]
  [0.82278    0.21597172]
  [0.19982733 0.89077232]]]

In [17]:
arr=np.random.random((4,4))
print(arr)
arr.sort(axis=0)
print(arr)

[[0.38748318 0.74653176 0.56494858 0.41209621]
 [0.49132709 0.97619401 0.18926748 0.18686767]
 [0.96903957 0.07779702 0.10014297 0.5028336 ]
 [0.89980193 0.98176179 0.53692897 0.61011431]]
[[0.38748318 0.07779702 0.10014297 0.18686767]
 [0.49132709 0.74653176 0.18926748 0.41209621]
 [0.89980193 0.97619401 0.53692897 0.5028336 ]
 [0.96903957 0.98176179 0.56494858 0.61011431]]

In [18]:
import pandas as pd

data = {'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

first_column_series = df.iloc[:, 0]

print(first_column_series)

0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [19]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4, 2])
s2 = pd.Series([3, 4, 5, 6])

for i in s1:
    if i not in s2.values:
        print(i, end=" ")

1 2 2

In [20]:
import pandas as pd

s = pd.Series([1, 1, 3, 7, 88, 12, 88, 23, 3, 1, 9, 0])

min_index = s.idxmin()

max_index = s.idxmax()

print(min_index, max_index)

11 4

In [21]:
L=['Cry', 'Apple', 'Orange', 'Sky', 'Banana']
s=pd.Series(L)
print(s)
newlist=[]
newlist2=[]
for i in s:
    if 'a' in i.lower() or 'e' in i.lower() or 'i' in i.lower() or 'o' in i.lower() or 'u' in i.lower():
        newlist.append(i)
    if i.lower()[0]=='a' or i.lower()[0]=='e' or i.lower()[0]=='i' or i.lower()[0]=='o' or i.lower()[0]=='u':
        newlist2.append(i)
news1=pd.Series(newlist)
news2=pd.Series(newlist2)
print(news1)
print(news2)

0       Cry
1     Apple
2    Orange
3       Sky
4    Banana
dtype: object
0     Apple
1    Orange
2    Banana
dtype: object
0     Apple
1    Orange
dtype: object

In [22]:
import numpy as np
a=pd.Series([7,11,13,17])
print(a)
b=pd.Series(100.0,range(5))
print(b)
c = pd.Series(np.random.randint(0, 101, size=20))
print(c.describe())
d=pd.Series([98.6,98.9,100.2,97.9],index=["Julie","Charlie","Sam","Andrea"])
print(d)
e=pd.Series({
    "Julie":98.6,
    "Charlie":98.9,
    "Sam":100.2,
    "Andrea":97.9
})
print(e)

0     7
1    11
2    13
3    17
dtype: int64
0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64
count    20.000000
mean     49.800000
std      31.181303
min       1.000000
25%      21.750000
50%      51.500000
75%      76.500000
max      99.000000
dtype: float64
Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64
Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

In [23]:
import pandas as pd

a = {
    'Maxine': [98.9, 98.6, 91.3],
    'James': [93.7, 98.6, 103.4], 
    'Amanda': [93.7, 98.6, 103.4] 
}

temperatures = pd.DataFrame(a)
print(temperatures)
temperatures.index=['Morning','Afternoon','Evening']

print(temperatures['Maxine'])
print(temperatures.loc['Morning'])
print(temperatures.loc[['Morning','Evening']])
print(temperatures[['Amanda','Maxine']])
print(temperatures.loc['Morning':'Afternoon', ['Amanda', 'Maxine']])
print(temperatures.describe())
print(temperatures.T)
sorted=temperatures.sort_index(axis=1)
print(sorted)

   Maxine  James  Amanda
0    98.9   93.7    93.7
1    98.6   98.6    98.6
2    91.3  103.4   103.4
Morning      98.9
Afternoon    98.6
Evening      91.3
Name: Maxine, dtype: float64
Maxine    98.9
James     93.7
Amanda    93.7
Name: Morning, dtype: float64
         Maxine  James  Amanda
Morning    98.9   93.7    93.7
Evening    91.3  103.4   103.4
           Amanda  Maxine
Morning      93.7    98.9
Afternoon    98.6    98.6
Evening     103.4    91.3
           Amanda  Maxine
Morning      93.7    98.9
Afternoon    98.6    98.6
          Maxine       James      Amanda
count   3.000000    3.000000    3.000000
mean   96.266667   98.566667   98.566667
std     4.303874    4.850086    4.850086
min    91.300000   93.700000   93.700000
25%    94.950000   96.150000   96.150000
50%    98.600000   98.600000   98.600000
75%    98.750000  101.000000  101.000000
max    98.900000  103.400000  103.400000
        Morning  Afternoon  Evening
Maxine     98.9       98.6     91.3
James      93.7       98.6    103.4
Amanda     93.7       98.6    103.4
           Amanda  James  Maxine
Morning      93.7   93.7    98.9
Afternoon    98.6   98.6    98.6
Evening     103.4  103.4    91.3